<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title>Site Name</title>

  <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen" charset="utf-8">
  <%= stylesheet_for_current_page_if use_page_stylesheet? %>
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <div class="container">
        Header
      </div>
    </div>
    <div id="nav">
      <ul class="clearfix">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
    <div id="content" class="clearfix">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        Footer
      </div>
    </div>
  </div>
</body>
</html>
