html {
  background: #222;
}
body {
  background: #222;
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 62.5%;
  line-height: 1.25em;
}

em { font-style: italic; }
blockquote {
  background: #CCC none;
  margin: 1em 0;
  padding: 0.5em;
  color: #333;
}

h1, h2, h3, h4, h5, h6, strong { font-weight: bold; }
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

h1 { font-size: 160%; }
h2 { font-size: 150%; }
h3 { font-size: 140%; }
h4 { font-size: 130%; }
h4 { font-size: 130%; }
h5 { font-size: 120%; }
h6 { font-size: 110%; }

a {
  color: #222;
  text-decoration: underline;
}
a:hover {
  color: #59715F;
  text-decoration: none;
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
}
a:active {
  text-shadow: 0 0 3px #CCC;
}

p, ol, ul, dd, dt {
  margin: 1em 0;
}

ol li, ul li {
  padding: .2em 0;
  margin-left: .9em;
}
ol li {
  list-style-type: decimal;
  margin-left: 2.25em;
}

blockquote {
  padding: .3em 1em;
  color: #454545;
  font-size: 1.25em;
  line-height: 1.5em;
}

code {
  font-size: 1.25em;
}

/*  PositionisEverything Clearfix
    http://www.positioniseverything.net/easyclearing.html
*/
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */



#site_wrapper {
  position: relative;
  width: auto;
  min-height: 100%;
  font-size: 1.25em;
}

#page_wrapper {
  padding: 1.5em 1.5em 9em;
}

#content_wrapper {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
     -moz-box-shadow: 1px 1px 4px #444;
  -webkit-box-shadow: 1px 1px 4px #444;
          box-shadow: 1px 1px 4px #444;
}

#header {
  background: #999;
  position: relative;
  padding: 0.75em 1em;
  border-bottom: 1px solid #444;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #222;
}

#nav {
  background: #AAA;
  width: 100%;
  padding: 0;
  font-size: 1.5em;
}
#nav ul {
  margin: 0;
  padding: 0;
}
#nav li {
  float: left;
}
#nav a,
#nav span {
  display: inline-block;
  padding: .4em;
  text-decoration: none;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#nav a {
  color: #666;
  background-color: #DDD;
}
#nav a:hover {
  color: #7A6A53;
  text-decoration: none;
  background-color: #FFF;
}
#nav .current {
  color: #D6E6D6;
  background-color: #59715F;
}
#nav #subnav {
  margin: 0;
  font-size: 75%;
  border-top: 1px solid #AAA;
}
#subnav a {
  padding: .2em .3em;
}


#content {
  background: #DDD none;
  color: #222;
  border-top: 1px solid #8EAC91;
  line-height: 1.25em;
  padding: 2em 5em;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #999;
  border-top: 1px solid #444;
  background-color: #555;
  text-shadow: 1px 1px 2px #222;
}
#footer .container {
  position: relative;
  margin: 1em 1.5em 2.5em 1.5em;
}


#content table {
  width: 100%;
  margin: 1em 0;
}
#content table th {
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 2px solid #222;
}
#content table td {
  border-bottom: 1px solid #AAA;
  padding: 0.3em 0 0.5em 0;
}
#content table tr.last td {
  border-bottom: none;
}
